body {
	width: 800px;
	margin: auto;
	color: white;
	background: #222222;
}

header {
    background: #000050;
    padding: 5px;
    text-align: center;
}

nav {
     display:flex;
     justify-content: space-evenly;
}

a {
    color: yellow;
}

a:hover {
    color: white;
}

h1 {
    color: #0000FF;
    padding:5px;
}

h3 {
    background: #005000;
    color: #00FF00;
    padding: 10px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.fb-comments {
    color: white;
    width:350px;
}