body {
	width: 100%;
	margin: auto;
	color: white;
    background: #222222;
    text-align: center;
}
.main-container {
    width:900px;
    margin: auto;
    /* text-align: center; */
}

header {
    display: inline-block;
    text-align: center;
    width:900px;
    background: #000050;
    padding: 5px;
}

/* ----------------------------------------- */h1 {
        font-size: 50px;
}

/* ----------------------------------------- */
nav {
    display: flex;
     justify-content: space-evenly;
}
/* ----------------------------------------- */
a {
    color: yellow;
}dd
a:hover {
    color: white;
}

h1 {
    color: #0000FF;
    padding:5px;
}

h3 {
    background: #005000;
    color: #00FF00;
    padding: 10px;
}

. {
  
}