/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*  Below this line is written by Hoolio Osuna */
body {
    max-width: 830px;
    margin: auto;
}

header {
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 10px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

li.link {
    list-style-type: none;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

h1 {
    letter-spacing: 1px;
    font-size: 25px;
}

.container {
    padding: 20px 0px 20px 0px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.child-box {
    padding: 20px;
    border: 1px solid black;
    margin-top: 25px;
    width: 398px;
}

button {
    height: 25px;
    width: 100px;
    margin: 5px 0px 5px 0px;
}

footer {
   text-align: center;
   padding: 40px;  
}